.board {
  display: grid;
  gap: 3vmin;
  padding: 3vmin;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.die {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  background-color: burlywood;
}

.game-status {
  width: 10vmin;
}
