.board {
  /* width: min(100vw, 1100);
  height: min(100vw, 10px); */
  display: grid;
  gap: 3vmin;
  padding: 3vmin;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.die {
  padding: 50% 0% 50% 0%;
  border: 2px solid black;
  background-color: burlywood;
}

.die-text {
  position: absolute;
}

.game-status {
  width: 10vmin;
}
